
* {
    padding: 0;
    margin: 0;
    --primary-color:red;
--primary-color-transparent:rgba(255, 49, 49, 0.8);

     --black-color: black;
--black-transparent:rgb(0, 0,0, 0.6);
--white-color:rgb(247, 234, 234);

--grey: #ebe9eb;
    --dark-grey: #999999;
    --musky-grey: #555555;
}
.body{
    box-sizing: border-box;
}
.header-wrapper{
    position: relative;
    top: 0%;
}
.header{
    position: relative;

}
 .hero-section-wrapper img{
    top: 0%;
    position: absolute;
    z-index: -3;
}
.hero-section-wrapper img{
    width: 100%;
    position: absolute;
 }
.hero-text {
    color: var(--white-color);
    position: absolute;
transform: translatex(130%);
top : 45%;
left: 5%;
}
.hero-text h1{
    text-align: center;
    font-size: 70px;
    

}
.hero-text a{
    margin-left: 135px;
    color: var(--white-color);
    background-color: var(--primary-color);
    font-size: x-large;
    padding: 10px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 700;

}
.hero-text a:hover{
    
    color: var(--primary-color);
    background-color: var(--white-color);
}
.main-nav-bar{
display: flex;
justify-content: space-between;
background-color: var(--primary-color-transparent);
padding: 10PX;
position: relative;
}
.top-list li{
    padding: 5px;
    
}
.top-list li a{
    margin-left: 23px;
color: var(--white-color);
list-style-type: none;
text-decoration: none;
font-size: x-large;margin-top: 7px;
}
.top-list li a:hover{
    color: var(--black-color);
}
.top-list-right{
    padding: 5px;
    display: flex;
    list-style-type: none;
    text-decoration: none;
    font-size: x-large;
}

.top-list-right li a{
    padding: 8px;
    color: var(--white-color);
    list-style-type: none;
    text-decoration: none;
}
.top-list-right li a:hover{
    color: var(--black-color);
}
.nav-bar-2{
    display: flex;
    justify-content: space-between;
    background-color: var(--black-transparent);
}
.nav-bar-2 img {
    width: 120px;
}
.nav-bar-2{
    font-size: larger;
    font-weight: 900;
}
.top-list-2{
    padding: 20px;
}
.top-list-2 li a{

    color:var(--white-color) ;
    list-style-type: none;
    text-decoration: none;
}   
 .right-list-2 {
    padding: 23px;
    display: flex;
    list-style-type: none;
    text-decoration: none;
    font-size: x-large;
}
.right-list-2 li a{
    padding: 15px;
    color: var(--white-color);
    list-style-type: none;
    text-decoration: none;
    text-align: center;
}
.right-list-2 li a:hover{
    background-color: var(--primary-color);
    padding: 5px;
    border-radius: 5px;
}
.right-list-2 li a:hover .active{
    background-color: var(--primary-red);
    padding: 5px;
    border-radius: 6px;
}
.section-space{
    top: 15px;
    bottom: 15px;
}
.main-content{
    text-align: center;
}

.heading{
    color: var(--primary-color);
    font-size: 40px;
    font-weight: 100;
    padding: 20px;
    margin: 20px;
    margin-top: 55%;
}
.heading h3{
    color: var(--primary-color);
}
.heading div{
    display: inline-block;
}
.menu-products{
    display: flex;

}

.product{
    position: relative;
    width: 25% ;
    padding: 7px;
}
.product img{
    width: 100%;
    margin: 3px;
    border-radius: 5px;
    display:block;
}
.product h3{
    position: absolute;
    font-weight: 90;
    font-size: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white-color); 

    transition: opacity 0.2s ease; 
}
.overlay-1{
    position: absolute;
    background-color:var(--black-transparent);
    inset: 0;
    transition: background-color 0.2s;
    border-radius: 4px;
    overflow: none;
    box-sizing: border-box;
    
}

.product:hover div.overlay-shadow{
    background-color: var(--black-transparent);
    overflow: hidden;
    overflow: none;
} 
.overlay-hover{
    position: absolute;
    inset: 0;
    opacity: 0;
    border-radius: 5px;
    background-color: var(--black-transparent);
    overflow: none;
}
.overlay-hover p{
    position: absolute;
    top: 50%;
    color: var(--white-color);
    font-size: 18px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block ;
    overflow: hidden;
    box-sizing: border-box;
}
.box{
    position: absolute;
    width: 134px;
    height: 134px;
    border: 1px solid var(--white-color);
    top: 65%;
    left: 25%;
    transform: translate(-50%, -50%);
    rotate: 45deg;
    scale: 0;
    transition: scale 0.4s;
}

.product:hover .box{
    scale: 1;
}

.product:hover .overlay-hover{
    opacity: 1;
    transition: all 0.4s;
}
.offer-img{
    position: relative;    
}
.ad-sec img{
    width: 100%;
    margin-top: 120px;
position:absolute;
}
.ad-sec h1{
    position: absolute;
    color: var(--primary-color);
    font-weight: 800;
top: 180px;
left: 7%;
font-size: 65px;
}
.ad-sec h2{
    position: absolute;
    color: var(--primary-color);
    font-size: 45px;
    font-weight: 600;
top: 255px;
left: 20%;
font-size: 55px;
}
.ad-sec p{
    position: absolute;
    color: var(--dark-grey);
    font-size: 20px;
    font-weight: 200;
top: 330px;
left:125px;
}
.ad-sec a{
    position: absolute;
    color: var(--white-color);
    background-color: var(--primary-color);
    font-size: 20px;
    font-weight: 200;
top: 385px;
left:180px;
text-decoration: none;
padding: 10px;
border-radius: 5px;
}
.main-content-2 .text-center-1 .center h1{
    margin-top: -108px;
    color:var(--white-color);
    background-color: var(--primary-color);
    position: absolute;
}
.center h1{
    padding: 35px;
    display: block;
    width: 100%;
    text-align: center;
    right: 12px;
}
.menusimgs .imgs{
    width: 50%;
    position: relative;
} 
 .menusimgs .imgs img{
    width: 100%;
    top:-1px;
    position: absolute;
    height: 450px;
 }
.heading h1{
margin-top: 20px;
position: absolute;
left: 65%;

}
.products ul li{
margin-top: 1px;
position: absolute;
left: 65%; 
}
.pizza-menu{
    width: 50%;
}




.products{
    margin-right: 20%;
    margin-top: 13%;
}



.products ul li{
    list-style-type: none;
    display: flex;
    padding: 5px;
    font-size: 20px;
    margin: 20px;
    color: var(--musky-grey);
    line-height: 1em;
    position: relative;
}

.products ul li::after{
    display: block;
    float: right;
    position: absolute;
    left: 18%;
    margin-top: .6em; 
    border-top: 2px solid var(--grey);
    width: 30%;
    content: "";
}.heading2 h1{
    margin-top: 20px;
    position: absolute;
    left: 65%;
    
    }
    .products2 ul li{
    margin-top: 1px;
    position: absolute;
    left: 65%; 
    }
    .pizza-menu{
        width: 50%;
    }
    
    
    
    
    .products2{
        margin-right: 20%;
        margin-top: 13%;
    }
    
    
    
    .products2 ul li{
        list-style-type: none;
        display: flex;
        padding: 5px;
        font-size: 20px;
        margin: 20px;
        color: var(--musky-grey);
        line-height: 1em;
        position: relative;
    }
    
    .products2 ul li::after{
        display: block;
        float: right;
        position: absolute;
        left: 18%;
        margin-top: .6em; 
        border-top: 2px solid var(--grey);
        width: 30%;
        content: "";
    }